%% For some reason, Dialyzer will complain it cannot find the sources for the
%% modules in providers and rebar (Could not get Core Erlang code
%% for...).
%%
%% {dialyzer, [{plt_extra_apps, []},
%%             {warnings, [unknown]}]}.
{erl_opts, [debug_info]}.
{deps,
 [{openapi,
   {git, "https://github.com/exograd/erl-openapi.git", {branch, "master"}}}]}.
